/*Title page -----------------------------------*/ 
.title{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin:20px 0px;
    hr{
        border:3px #000 dotted;
        width:85.5%;
        margin: 20px 0px;
    }
    img{
        background-color: #fff;
        padding:10px;
        border-radius: 50%;
        width:40px;
        height:auto;
    }
    p{
        margin-top:10px;
    }
}
/*Dynamic cart ----------------------------------*/
.shopping{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top:10px;
}
.products{
    background-color: var(--cards);
    display:flex;
    border-radius: 10px;
    width: 60vw;
    height:150px;
    align-items: center;
    justify-content: space-between;
    font-size:var(--font-size-02);
    font-weight:800;
    margin:10px;
    box-shadow: 0px 0px 10px -5px #111111;
    .bg-prod{
        background-color: var(--card-img-bg);
        display: flex;
        align-items: center;
        justify-content: start;
        height:125px;
        width:400px;
        border-top-right-radius:70px;
        border-bottom-right-radius: 70px;
        box-sizing: border-box;
        padding: 15px;
        box-shadow: 0px 0px 20px -9px;
        color:var(--font-white);
        border-top:2.3px  dashed #fff ;
        border-right: 2.3px dashed #fff  ;
        border-bottom:2.3px dashed #fff  ;
        img{
            margin:0px 20px;
            width:130px;
            height:auto;
            display: flex;
            align-self: center;
        }
        .name-prod{
            display: flex;
            margin:0px 10px;
        }
    }
    .desc-prod{
        font-size:var(--font-size-04);
        font-weight:500;
        display: flex;
        margin:20px;
        text-align: center;
    }
    .info-coffee{
        font-size: var(--font-size-04);
        font-weight: 550;
        margin:10px;
        text-align: center;
        font-style: italic;
        text-decoration:underline;
        color:#2b2b2b;
        cursor: pointer;
    }
    .price{
        margin-right:20px;
        display: flex;
        flex-direction: column;
    }
    input{
        width:185px;
        height:45px;
        padding:0;
        margin-bottom:10px;
        justify-items: 50%;
        border: solid 3px rgb(37, 37, 37);
        border-radius: 10px;
        font-size: var(--font-size-02);
        font-weight: 400;
        box-sizing: border-box;
        padding-left:85px;

    }
    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button{
        width: 10%;
        height:54px;
        padding:5px;
    }
    .new-price{
        width:185px;
        height:45px;
        border-radius: 10px;
        background: var(--cards-button);
        color:var(--font-white);
        display:flex;
        justify-content: center;
        align-items: center;
        border: solid 3px white;
        box-sizing: border-box;
    }
    .button-delete{
        color:white;
        background-color: #e60000;
        width:45px;
        height:35px;
        margin-right:20px;
        img{
            width:10px;
            height:auto;
        }
    }
}

/*Content of the body*/
.content{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    margin:0 40px 40px 40px;
    hr{
        width:90%;
        border: dotted 3px white;
        margin:40px;
    }
}

.buying{
    background:var(--font-white);
    border-radius: 10px;
    height:40px;
    width:77vw;
    display:flex;
    justify-content: space-between;
    align-content: center;
    .buy{
        display: flex;
        gap:8px;
    }
    p{
        font-size:var(--font-size-02);
        font-weight:600;
        display:flex;
        align-items: center;
        margin:12px;
    }
    img{
        height:40px;
        width:auto;
    }
    button{
        height:40px;
        width:auto;
        background: var(--color-nav-footer);
        color:var(--font-white);
        font-size:var(--font-size-04);
        font-weight:600;
        padding:15px;
        display:inline-flex;
        align-items:center;
        padding-bottom:18px;
    }
}

@media(max-width:1184px){
    .shopping{
        display:flex;
        flex-wrap:wrap;
        flex-direction: row;
        width:100%;
        gap:10px;
        margin:auto;
    }
    .products{
        display: flex;
        flex-direction: column;
        justify-items: center;
        border-radius: 10px;
        height:500px;
        width:230px;
        align-self: center;
        .bg-prod{
            display:flex;
            flex-direction: column;
            width:200px;
            height:260px;
            border-bottom-right-radius:100px;
            border-top-right-radius: 0px;
            border-bottom-left-radius: 100px;
            box-sizing: border-box;
            border-top:none;
            border-right: 2.3px dashed #fff  ;
            border-bottom:2.3px dashed #fff  ;
            border-left:2.3px dashed #fff  ;
            .name-prod{
                margin-top:20px;
                text-align:center;
            }
        }
        .desc-prod{
            font-weight:500;
            display: flex;
            text-align: center;
            width:auto;
        }
        .price{
            margin-right:0;
            margin-bottom:15px;
        }
        input{
            padding:0;
            margin-bottom:10px;
            border: solid 3px rgb(37, 37, 37);
            border-radius: 10px;
            font-size: var(--font-size-02);
            font-weight: 400;
            padding-left:85px;
        }
        .new-price{
            border-radius: 10px;
        }
        .button-delete{
            margin-bottom:10px;
            margin-right:0px;
        }
    }
}

@media(max-width:497px){
    .buying p{
        font-size: var(--font-size-04);
        font-weight:600;
    }
}