@import url('https://fonts.googleapis.com/css2?family=Nova+Round&family=Quicksand:wght@300..700&display=swap');

*{
    margin:0;
    padding:0;
}
:root{
    --bg-screen:#121212;
    --bg-cards: #323232;
    --card01:#CD6C21;
    --card02:#05668D;
    --card03:#02C39A;
    --btn-add-list:#05668D;
    --dropdown-filters:#e7e7ee;
}
body{
    display:grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 60px 150px 60px 1fr;
    grid-template-areas: 
        "header header header header  header  header"
        "main   main   main   card01  card02  card03"
        "main   main   main   filter  filter  filter"
        "main   main   main   list    list    list"
        ;
    gap:16px;
    margin:16px;
    font-family: "Quicksand", sans-serif;
    background-color: var(--bg-screen);
    height: 100vh;
}

/* header part ----------------------------- */
header{
    grid-area:header;
    background:var(--bg-cards);
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding:8px 15px;
    border-radius:20px;
    box-sizing: border-box;
    color:#fff;
}
header img{
    width:40px;
    height:40px;
}
.logo{
    display:flex;
    flex-direction: row;
    align-items: center;
    gap:20px;
}
h1{
    font-size: 1.2rem;
}
nav ul{
    display:flex;
    flex-direction: row;
    list-style: none;
    gap:20px;
}
nav ul li{
    width:100px;
    height:35px;
    border-radius:50px;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: #575757;
    font-size:1rem;
}

/* main part, graphics ------------------------------ */
main{
    grid-area:main;
    grid-row:2/-1;
    background-color: var(--bg-cards);
    border-radius:20px;
    box-sizing: border-box;
}

/* cards of totals--------------------- */
.card{
    width:100%;
    background-color: var(--bg-cards);
    border-radius:20px;
    display:flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    gap:20px;
    padding:20px;
    box-sizing: border-box;
    font-size:1.8rem;
}
.card01{
    grid-area: card01;
    background-color: var(--card01);
}
.card02{
    grid-area: card02;
    background-color: var(--card02);
    color:#fff;
}
.card03{
    grid-area: card03;
    background-color: var(--card03);
}
.card > span.value{
    font-weight: 500;
}
.card > p{
    font-weight:800;
}

/* section of list-filters and add button expense/income */
.add-list{
    background-color:transparent;
    border: none;
}
.add-list > img{
    background-color: var(--btn-add-list);
    width:35px;
    height:35px;
    border-radius:10px;
}
.filter{
    grid-area: filter;
    background-color: var(--bg-cards);
    border-radius:20px;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    padding:10px 20px;
    height:40px;
    align-items: center;
}
.filter div select{
    background-color: var(--dropdown-filters);
    width:100px;
    height:30px;
    border:none;
    border-radius: 10px;
    margin-right:5px;
}

/* list expenses and incomes ---------------------------- */

.money-list{
    grid-area: list;
    background-color: var(--bg-cards);
    border-radius:20px;
    grid-row: 4/-1;
    color:#fff;
    overflow: hidden;
    border:25px solid var(--bg-cards);
    box-sizing: border-box;
}
.money-list .header-list{
    display:flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 3px solid #fff;
    padding-bottom: 10px;
}
.header-list p:nth-child(2){
    margin-right: 33px;
}
.scroll-list{
    overflow-y: auto;
    overflow-x: hidden;
    height:100%;
}
.money-list ul li{
    border-bottom:3px solid #ffffff34;
    display:flex;
    justify-content:space-between;
    align-items: center;
    padding:10px;
}
ul li .name{
    text-wrap:wrap;
    margin-right:10px;
}
ul li span.tag{
    background-color: #D7D7E1;
    margin-right:10px;
    padding:3px 10px;
    border-radius:8px;
    color:#000;
    font-weight: 500;
}
.end-list{
    display: flex;
    justify-content: center;
    align-items: center;
}
.delete{
    margin-left:10px;
    background-color:var(--card01);
    border:none;
    border-radius:5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.delete img{
    width:20px;
}