@import url('https://fonts.googleapis.com/css2?family=Nova+Round&family=Quicksand:wght@300..700&display=swap');

*{
    margin:0;
}
a{
    text-decoration: none;
}
:root {
    --color-footer: #730C00;
    --sections: #D3B170;
    --btn-login:#D3B170;
    --btn-music: #406D66;

    --font-black: #111111;
    --font-white:#f5f4ed;
    --font-size-00:3.2rem;
    --font-size-01:1.6rem;
    --font-size-02:1.2rem;
    --font-size-03:1.1rem;
    --font-size-04:1rem;
    --font-size-05:0.5rem;
}
body{
    font-family:"Quicksand", sans-serif;
}
/* header ---------------------------------- */
nav, .navbar{
    display:flex;
    align-items: center;
    justify-content: space-between;
    gap:30px;
    padding:5px 10px;
}
.logo-instruPro{
    width:100px;
    height:50px;
    margin-left:10px;
}
header button{
    padding:8px 20px;
    color:var(--font-black);
    background-color: var(--btn-login);
    font-size: var(--font-size-02);
    font-weight: bold;
    border-radius: 10px;
    border:none;
    box-shadow: 3px 3px 1px 1px black;
}
.logo-icone{
    width:50px;
    height:auto;
}

/* footer ---------------------------------------- */
footer{
    background:#FFD369;
    background-color: var(--color-footer);
    align-content: flex-end;
    justify-items: center;
    color: var(--font-white);
    bottom: 0;
    width: 100%;
    position:relative;
    p, a{
        margin:10px;
        color:white;
    }
}
.footer-infos{
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    margin:30px 10%;
    align-items: center;
}
img{
    width:60px;
}
.apres-footer{
    display: flex;
    flex-direction: column;
   
    p{
        margin-left:70px;
        text-align: start;   
    }
}
.medias{
    float:right;
    margin-left:auto;
}
.logo-footer{
    display:flex;
    align-items:flex-end;
    gap:10px;
}
.media{
    display:flex;
    img{
        width:33px;
        height:33px;
    }
}
footer hr{
    width:86%;
}