.hero-section{
    background: url('../../img/img-instruPro/wave-red.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 670px;
}
.hero{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin:10px 50px;
    align-items: center;
    gap:30px;
}
.title{
    display: flex;
    flex-direction: column;
    gap:60px;
    justify-content: space-between;
    height: 300px;
    color:var(--font-white)
}
.title button{
    background-color: var(--btn-music);
    color:var(--font-white);
    font-size:var(--font-size-03);
    font-weight: 550;
    border:none;
    border-radius:25px;
    box-shadow: 3px 3px 1px 1px black;
    width:200px;
    padding:15px;
}
h1{
    font-size: var(--font-size-00);
}
.record{
    width:500px;
}

/* main section ---------------------------- */

main{
    background-color: var(--sections);
    display: flex;
    flex-direction: row;
    padding:10px;
    align-items: center;
    gap:20px;
}
.album-image{
    height:130px;
    width:auto;
    border-radius:10px;
}
.details{
    width:300px;
}
.plays-btns{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap:15px;
    width:26%;
}
.play{
    padding:10px;
    width:40px;
    height:40px;
    background-color: var(--btn-music);
    border-radius:50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 3px 3px 1px 1px black;
    img{
        width:40px;
        height:auto;
        padding-left:5px;
    }
}
.btns-play{
    width:40px;
    height:40px;
}

/* section music list */

.section02{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
ul{
    padding:0px;
    height:330px;
    overflow-y: auto;
    overflow-x: hidden;
}
ul>li{
    background-color: var(--sections);
    list-style: none;
    display: flex;
    flex-direction: row;
    width:55vw;
    border:2px solid #473f3186;
    border-radius:10px;
    padding:10px 20px;
    justify-content: space-between;
    align-items: center;
    img{
        width:20px;
        padding:5px;
        border-radius: 50%;
        background: var(--btn-music);
        box-shadow: 3px 3px 1px 1px black;
    }
}