:root{
    --button-stats:#fff;
    --button-move:#FFC705;
    --bg-stats:#9B5B00;
    --bg-move:rgb(118, 132, 146);
    --bg-text:#222127;
}

body{
    background: url('../../img/img-littlegames/bg-image-rpgGame.jpg') no-repeat center center/cover;
}
body::after{
    content:'';
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100vh;
    z-index:1;
    background: linear-gradient(to left, rgba(0,0,0,0.4), rgb(34, 33, 39, 1));
}

/* Sections -------------------------------- */
section{
    position: relative;
    width:85%;
    display:flex;
    justify-self: center;
    flex-wrap: wrap;
    justify-content: center;
    z-index:2;
}
aside{
    display:flex;
    flex-direction:column;
    align-items: center;
    flex-wrap: nowrap;
    color:white;
    justify-content: space-around;
    p{
        margin:10px;
    }
}
.logo{
    width:clamp(200px, 30vw, 340px);
}
.arrow{
    width:clamp(20px, 20vw, 80px);
}
.warrior{
    width:clamp(100px, 20vw, 200px);
    background-color: rgba(255,255, 255, 0.2);
    padding:10px;
    border-radius: 10px;
    margin-top:20px;
}
.namesCharact{
    display: flex;
    align-items: center;
    gap:10px;
    margin:20px;
    #characters{
        height:30px;
        width:150px;
        border-radius: 10px;
        border-style: none;
        padding: 5px;
        box-sizing: border-box;
        background-color: rgba(118, 132, 146, 0.4);
        border:3px solid white;
        color: white;
        option{
            color:black;
        }
    }
    input[type="button"]{
        height:30px;
        width:90px;
        font-size:medium;
        font-weight: 600;
        background-color: #feac32;
        background-image: linear-gradient(#fecc4c, #ffac33);
        border: 3px solid #feac32;
        border-radius: 10px;
        box-sizing: border-box;
    }
}

/*GAME-------------------------------------*/

#game{
    display:flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--bg-move);
    width: clamp(200px, 95vw, 600px);
    height: 500px;
    margin: 30px auto;
    border-radius:20px;
    border: 4px solid #fff;
}

#stats{
    background-color: var(--bg-stats);
    width:100%;
    height:120px;
    border-radius: 20px 20px 0px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:10px;
    font-weight: 500;
}
.stat{
    background-color:var(--button-stats);
    padding:10px;
    border-radius:10px ;
    font-size: clamp(1rem, 1.2vw, 1.1rem);
}

#controls {
    display:flex;
    align-items: center;
    justify-content: center;
    margin: 20px 10px;
    button {
    cursor: pointer;
    color: #0a0a23;
    padding: 8px;
    background-color: #feac32;
    background-image: linear-gradient(#fecc4c, #ffac33);
    border: 3px solid #feac32;
    border-radius: 10px;
    font-size: medium;
    font-weight: bold;
  }
  button:nth-child(2){
    margin:0 10px;
  }
}
#controls button{
    font-size: clamp(1rem, 1.2vw, 1.1rem);
}

#monsterStats{
    display: none;
    border: 1px solid #0a0a23;
    padding: 5px;
    color:#fff;
    width:100%;
    box-sizing: border-box;
    background-color: #c70d0d;
    padding:10px;
    .stats{
        margin-right:10px;
    }
}
#text{
    background-color: var(--bg-text);
    color:white;
    width:100%;
    height:100%;
    border-radius:0 0 20px 20px;
    padding:10px 20px;
    box-sizing: border-box;
}
@media(max-width:1186px){
    body::after{
        width:100vw;
        height: clamp(100vh, 20vw, 151vh);
        background: linear-gradient(to top, rgba(0,0,0,0.4), rgb(34, 33, 39, 1));
    }
}