:root {
    --color-background: #10375C;
    --font-black: #111111;
    --font-white:#f5f4ed;
    --gradient: rgb(235, 133, 23);
}
body{
    background-color: var(--color-background);
    margin:0;
    width:100%;
    font-family: "Quicksand", sans-serif;
}
/* cards---------------------------------*/
main{
    display:flex;
    flex-wrap: wrap;
    gap:20px;
    margin:30px;
    align-items: center;
    justify-content: center;
}
.container{
    width: 622px;
    height: 300px;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    padding:30px;
    color: var(--font-white);
}
.container:nth-child(1){
    background: url('../../img/img-littlegames/bg-image-rpgGame.jpg') no-repeat center center/cover;
}
.container:nth-child(2){
    background: url('../../img/img-littlegames/radiant-gradient.png') no-repeat center center/cover;
}
.container:nth-child(3){
    background: url('../../img/img-littlegames/ticTacToe-bg.png') no-repeat center center/cover;
}
.container:nth-child(4){
    /* background: url('../../img/img-littlegames/bg-image-rpgGame.jpg') no-repeat center center/cover; */
    background-color: #111111;
}
.infos{
    float: left;
    width:60%;
}
.arrow{
    float:right;
    width:90px;
    height:100%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}
    
.container::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: linear-gradient(to left, rgba(0, 0, 0, 0.521), var(--gradient));
    border-radius: 10px;
}

.container > div {
    position: relative; 
    z-index: 2;
}

.container img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 10px;
}
    