:root{
    --bg-card:#c6c97765;
    --btn-play-again:#FFCF2A;
    --btn-reset-score:#FF6429;
    --hand-check:#8CFF15;
    --hand-not-check:#383838;
    --font-color:rgb(118, 132, 146);

    --font-size01:1.2rem;
    --font-size02:1.1rem;
    --font-size03:1rem;
    --font-size04:1.5rem;
}

body{
    background: url('../../img/img-homeGames/bg-radiant-gradient.png');
    background-repeat:repeat;
    background-size:auto;
    display:flex;
    justify-content: center;
    flex-direction: column;
}

/* game section ------------------------ */

section{
    padding:60px;
    display:flex;
    justify-content: center;
    gap:20px;
    flex-direction: column;
    align-items: center;
    align-self: center;
    background-color: var(--bg-card);
    border-radius:20px;
    border:5px solid rgba(255, 255, 255, 0.349);
}
main{
    display:flex;
    gap:20px;
    div{
        width:120px;
        height:120px;
        border:3px solid;
        border-color: #000000;
        border-radius:50%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding:10px;
        box-sizing: border-box;
    }
    div > img{
        width:60px;
    }
}
section h3{
    display:none;
    margin-top:20px;
    font-size:var(--font-size04);
    text-shadow: 
        0px 0px 10px var(--btn-play-again),
        0px 0px 20px var(--btn-play-again);
    color:#fff8bb;
}
main div:hover{
    border-color: var(--hand-check);
}

.info{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap:30px;
    font-size:var(--font-size02);
    font-weight: 550;
}
.info > span > img{
    width:45px;
}
.winner{
    display:flex;
    flex-direction: column;
    width:50px;
    align-items: center;
    justify-content: center;
}
.info> img:nth-child(2){
    width:25px;
    height:25px;
}

.features{
    display:flex;
    gap:50px;
    font-weight: 550;
    font-size: var(--font-size03);
}

button{
    border-radius:5px;
    border:none;
    padding:10px 20px;
    font-size:var(--font-size023);
    font-weight: 550;
    margin:10px;
    box-shadow: 2px 2px 6px -2px;
}
button:nth-child(1){
    background-color: var(--btn-reset-score);
}
button:nth-child(2){
    background-color: var(--btn-play-again);
}
button:hover{
    box-shadow: 3px 3px 1px 1px;
    transform: translateY(-5px);
    animation: ease-in-out .2s;
}
/* pop-up final result */
.bg-popUp{
    display:none;
    width:100%;
    height:100vh;
    position: absolute;
    top:0;
    left:0;
    background-color: #0000008e;
    backdrop-filter: blur(4px);
    z-index: 6;
    overflow: hidden;
}
.bg-popUp div span{
    text-align: center;
}
.bg-popUp div{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    width:clamp(200px, 60vw,400px);
    height:400px;
    background: var(--bg-card);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius:20px;
    gap:20px;
    padding:15px;
    color:#fff;
    font-size: 1.1rem;
    border:5px solid rgba(255, 255, 255, 0.349);
}
.bg-popUp div hr{
    width:86%;
    border:2px solid #fff;
}
.bg-popUp div span .value{
    font-size:1.5rem;
    font-weight: 600;
}

/* responsive page*/
@media(max-width:700px){
    section{
        padding:50px 40px;
    }
    main div{
        width:100px;
        height:100px;
    }
}
@media(max-width:532px){
    section{
        padding:40px 30px;
    }
    main div{
        width:75px;
        height:75px;
    }
    main div > img{
        width:42px;
    }
    .features{
        flex-wrap: wrap;
        gap:18px;
    }
    .btns{
        display:flex;
        flex-direction: column-reverse;
    }
}

@media(max-width:328px){
    section{
        padding:20px 15px;
    }
    main div{
        width:70px;
        height:70px;
    }
    main div > img{
        width:40px;
    }
}